<ul
  class="flex flex-wrap text-sm font-medium text-center text-gray-500 border-b border-violet-800 "
>
  <li class="mr-2">
    <a
      [routerLink]="'taskform'"
      class="inline-block p-4 rounded-t-lg hover:text-white/90 hover:bg-zinc-800"
      routerLink="/taskform"
      routerLinkActive="active bg-violet-800 text-white/90"
    >
      Add New Task
    </a>
  </li>
  <li class="mr-2">
    <a
      [routerLink]="'tasklist'"
      class="inline-block p-4 rounded-t-lg hover:text-white/90 hover:bg-zinc-800"
      routerLink="/tasklist"
      routerLinkActive="active bg-violet-800 text-white/90"
    >
      Task List
    </a>
  </li>
</ul>
